@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "../tailwind-plugin/tw-theme.mjs";
@plugin "../tailwind-plugin/dark-mode.mjs";
@plugin "../tailwind-plugin/tw-bs-grid.mjs";

@import "./safe.css";
@import "./utilities.css";

@layer base {
  @import "./base.css";
}

@layer components {
  @import "./components.css";
  @import "./navigation.css";
  @import "./buttons.css";
}

@import "./dark-mode.css";
